.nav-wrapper{
    padding: 0 10px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  select {
    display: block;
}

.input-field{
   padding: 20px;
   margin: 10px;
}
.input-field > select {
    width: 20%;
}
.card{
    margin: 10px;
}
.custom-textarea{
    width: 60%;
    margin: 10px 30px;
    height: 200px;
    padding: 5px;
    background: #f7f7f7;
}