.nav-wrapper{
    padding: 0 10px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  select {
    display: block;
}

.input-field > label {
    margin: 35px 0 0 3px;
}